@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import './qbead-theme.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

/* Header Links */
:where(h2, h3, h4, h5, h6) {
	.icon-link {
		position: relative;

		&::before {
			content: '#';
			position: absolute;
			left: -1ch;
			top: 0;
			line-height: 1;
			opacity: 0;
			text-decoration: underline;
		}
	}

	&:hover .icon-link::before {
		opacity: 1;
	}
}

/* LaTeX */
.katex {
	font-size: 1.1em;
}

.katex-html[aria-hidden='true'] {
	display: none;
	visibility: hidden;
}

/* Code */
/* .codeblock {
	margin: 1em 0;
} */

.prose {
	color: inherit;
	max-width: 100%;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose strong,
.prose a,
.prose code,
.prose blockquote {
	color: inherit;
	font-weight: 700;
}

.main-content {
	@apply mx-auto max-w-6xl;
	@apply py-16;
}

.main-content > article {
	@apply px-24;
}

.sidebar {
	@apply bg-surface-800;
	@apply rounded-tr-4xl;
	box-shadow: 4px -1px 10px rgba(0, 0, 0, 0.2);
	font-weight: 400;
	@apply text-surface-300;
	@apply pl-1;
}

@media screen and (min-width: 900px) {
	.sidebar {
		@apply pl-10;
	}
}

.sidebar-active {
	@apply bg-surface-950;
	position: relative;
	@apply text-surface-50;
}

.sidebar-active:before,
.sidebar-active:after {
	content: '';
	position: absolute;
	top: -1.5rem;
	right: 0;
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--color-surface-950);
	mask-image: radial-gradient(circle at 0% 0%, transparent 70%, black 0%);
	mask-repeat: no-repeat;
	mask-composite: exclude; /* For Safari, not standard */
	-webkit-mask-composite: destination-out; /* For Chrome and Edge */
	pointer-events: none;
}

.sidebar-active:after {
	top: auto;
	bottom: -1.5rem;
	mask-image: radial-gradient(circle at 0% 100%, transparent 70%, black 0%);
}

.sidebar .menu-item > div {
	overflow: hidden;
}

.sidebar .menu-circle {
	@apply bg-surface-700;
}

.sidebar-active .menu-circle {
	@apply bg-primary-500;
}
