@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config './tailwind.config.js';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
/* @import '@skeletonlabs/skeleton/themes/cerberus'; */
@import './qbead-theme.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  font-style: var(--base-font-style);
  letter-spacing: var(--base-letter-spacing);
}

html,
body {
  @apply w-full;
}

/* Header Links */
:where(h2, h3, h4, h5, h6) {
  /* Buffer to ensure that headings are not hidden behind fixed headers */
  scroll-margin-top: 6rem;

  .icon-link {
    position: relative;

    &::before {
      content: '#';
      position: absolute;
      font-size: 0.8em;
      left: -1.5ch;
      top: 0.85em;
      line-height: 0;
      opacity: 0;
      color: var(--color-tertiary-500);
      text-decoration: underline;
      transition: opacity 0.15s ease-in-out 0.3s;
    }
  }

  &:hover .icon-link::before {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }

  @media (hover: none) {
    .icon-link::before {
      opacity: 1;
      transition: none;
    }
  }
}

/* LaTeX */
.katex {
  font-size: 1.1em;
}

.katex-html[aria-hidden='true'] {
  display: none;
  visibility: hidden;
}

.typography {
  h1 {
    @apply h1;
  }

  h2 {
    @apply h2;
  }

  h3 {
    @apply h3;
  }

  h4 {
    @apply h4;
  }

  h5 {
    @apply h5;
  }

  h6 {
    @apply h6;
  }

  a {
    @apply anchor;
  }
}

blockquote {
  @apply blockquote;
}

kbd {
  @apply kbd;
}

code {
  @apply code;
  @apply my-7;
}

code {
  &:not(pre &, .ec-line &) {
    font-size: 0.75em;
    @apply bg-surface-800;
    @apply text-surface-50;
  }
}

.codeblock {
  @apply my-7;
}

.codeblock > pre {
  @apply pre;
  @apply p-5;
  @apply my-0;
  @apply text-base;
  line-height: 180%;
}

.btn {
  @apply font-bold;
}

.centered-layout {
  @apply grid grid-cols-1 justify-items-center;
  > * {
    @apply w-full max-w-7xl px-10;
  }
}

.layout-literate article {
  padding-inline: 2.5rem;

  .toc {
    display: none;
  }
}

@media screen and (min-width: 68rem) {
  .layout-literate article {
    --doc-width: 70ch;
    --bg-seam: calc(var(--doc-width) + 4.25rem);
    position: relative;
    display: grid;
    grid-template-columns: var(--doc-width) max-content;
    column-gap: 2rem;
    padding-right: 0;
    background: linear-gradient(to right, transparent var(--bg-seam), #303446 var(--bg-seam));
    min-width: max-content;
    max-width: max-content;
    margin: auto;

    :not(.codeblock) {
      grid-column: 1;
      /* text-align: right; */
    }

    .codeblock {
      grid-column: 2;
      margin: 0;
      border-radius: 0;
      align-self: center;
    }
  }
}
